.models-list {
  a:last-child {
    text-align: center;
    cursor: pointer;
  }
}

.model-buttons {
  margin-top: 20px;
  float: right;
}

table span.usage {
  float: right;
  margin-top: 3px;
  font-size: 80%;

  &.usage-level-none {
    color: #cecece;
  }
  &.usage-level-y {
    color: #6c6;
  }
}

.new-data {
  width: 100%;
  textarea {
    width: calc(~"100% - 20px");
    padding: 10px;
    border-radius: 5px;
  }
}

.loading {
  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255,255,255,.9);

  span {
    position: absolute;
    top: calc(~"50% - 50px");
    width: 100%;
    text-align: center;
  }

}

.equation {
  padding: 20px 0;
  border-bottom: 1px solid #cecece;
  text-align: center;
  font-size: 150%;
  .x0 {
    color: #999;
  }
  .x {
    .plus {
      color: #999;
      font-size: 70%;
      position: relative;
      top: -2px;
    }
    .coeff {
      font-weight: bold;
      color: #333;
    }
    .times {
      color: #cecece;
      position: relative;
      top: -2px;
    }
    .name {
      font-weight: bold;
      color: #339933;
    }
  }
  .y {
      font-weight: bold;
      color: #339933;
  }
}

.predict-form {
  padding: 20px 0;
  margin-bottom: 20px;
  text-align: center;
  color: #999;

  .form-inline input.form-control {
    width: 60px;
  }

  label {
    color: #333;
  }

  .equals {
    position: relative;
    top: -7px;
  }

  .answer {
    font-size: 200%;
    color: #339933;
  }

  .name {
    color: #333;
    position: relative;
    top: -5px;
  }
}

.graph {
  .title {
    margin-bottom: 20px;
  }
}