<div class="row">
    <div class="col-sm-8">
        <h2>{{ model.name }}</h2>
    </div>
    <div class="col-sm-4">
        <div class="model-buttons">
            <div class="btn-group" ng-show="!editMode">
                <button class="btn btn-default" ng-show="!editMode" ng-click="editMode = true">Edit</button>
            </div>
            <div class="btn-group" ng-show="editMode">
                <button class="btn btn-info" ng-click="saveModel()">Update</button>
            </div>
            <button class="btn btn-danger" ng-click="deleteModel()">Delete</button>
        </div>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th ng-repeat="col_name in model.headers">
                <div ng-show="!editMode">
                    <span>{{col_name}}</span>
                    <span class="usage" ng-class="'usage-level-' + model.usage_info[$index]">{{ displayUsage(model.usage_info[$index]) }}</span>
                </div>
                <div ng-show="editMode">
                    <input type="text" ng-model="newHeaders[$index]" />
                    <select ng-model="model.usage_info[$index]" ng-options="displayUsage(v) for v in usageOptions"></select>
                </div>
            </th>
        </tr>
    </thead>
    <tbody ng-show="!editMode">
        <tr ng-repeat="row in model.data | limitTo:10">
            <td ng-repeat="cell in row">{{cell}}</td>
        </tr>
        <tr>
            <td colspan="{{ model.headers.length }}"> ... </td>
        </tr>
    </tbody>
</table>

<div class="new-data" ng-show="editMode">
    <textarea ng-model="newData" placeholder="Paste new CSV here..." rows="10"></textarea>
</div>

<div ng-show="!editMode">
    <h3>Regression</h3>
    <div class="no-results" ng-show="!hasPredictionResults()">
        No regression results. Make sure you have 1 column marked as Goal and at least 1 column marked as a predictor.
    </div>
    <div class="results"
         ng-show="hasPredictionResults()"
         ng-controller="ModelRegressionCtrl"
         ng-include="'partials/model_regression_view.html'">
    </div>
</div>

<div class="loading" ng-show="isLoading">
    <span><h2>Crunching the numbers...</h2></span>
</div>