<div class="equation">
    <span class="x0">{{ model.thetas[0] | number:2 }}</span>
    <span class="x" ng-repeat="columnIndex in columnMapping | startFrom:2">
        <span class="plus">+</span>
        <span class="coeff">{{ model.thetas[$index + 1] | number:2 }}</span>
        <span class="times">x</span>
        <span class="name">{{ model.headers[columnIndex] }}</span>
    </span>
    <span class="equals">=</span>
    <span class="y">{{ model.headers[columnMapping[0]] }}</span>
</div>
<div class="predict-form">
    <form class="form-inline" role="form">
        <span>{{ model.thetas[0] | number:2 }}</span>
        <div class="form-group" ng-repeat="columnIndex in columnMapping | startFrom:2">
            <span>+</span>
            <input type="text" class="form-control" ng-model="predictionVars[$index]">
            <label>{{ model.headers[columnIndex] }}</label>
        </div>
        <div class="form-group">
            <span class="equals">=</span>
            <span class="answer">{{ predictedAnswer | number:2 }}</span>
            <span class="name">{{ model.headers[columnMapping[0]] }}</span>
        </div>
    </form>
</div>
<div class="graph">
    <div class="title col-md-12">
        <h3>Visualize</h3>
    </div>
    <div class="col-md-10">
        <highchart id="regression-visualization" config="chartConfig"></highchart>
    </div>
    <div class="col-md-2">
        <h3>{{ model.headers[chartIndex] }}</h3>
        <ul>
            <li ng-repeat="columnIndex in columnMapping | startFrom:2" ng-click="setChartIndex(columnIndex)">{{ model.headers[columnIndex] }}</li>
        </ul>

    </div>
</div>