<div class="col-sm-offset-2">
    <h2>Create a Model</h2>
</div>
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="model_name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="model_name" placeholder="Housing Prices" ng-model="name">
        </div>
    </div>
    <div class="form-group">
        <label for="model_data" class="col-sm-2 control-label">Data</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="model_data" placeholder="Copy your CSV here" rows="20" ng-model="data"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="hasHeaders"> Has headers?
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-default" ng-click="createModel()">Create</button>
        </div>
    </div>
</form>