<h2>Models</h2>
<div class="list-group models-list">
    <a ng-repeat="model in models" class="list-group-item" href="#/models/{{model.model_id}}" ng-class="{active : isActiveModel(model) }">
        {{ model.name }}
    </a>
    <a class="create-model list-group-item list-group-item-success" href="#/models/new">
        Create a Model
    </a>
</div>